[Base]
url=https://github.com/GridTools/gt4py.git
hash=faa5627910978ca56962600ad319fe78c076a3aa
final=develop
upstream=git@github.com:VulcanClimateModeling/gt4py.git

[Jenkins Scripts]
# Permanent CI additions
url=git@github.com:VulcanClimateModeling/gt4py.git
branch=jenkins-scripts

[Horizontal Regions]
# In review
url=https://github.com/twicki/gt4py.git
branch=working_regions

[GridTools Stage Extents]
# Necessary hack for now, want to revisit removing this later
url=https://github.com/eddie-c-davis/gt4py.git
branch=gt_stage_extents

# Need to ensure this is consistent with the latest regions
# [CXX CUDA Backends]
# # VCM beta
# url=https://github.com/eddie-c-davis/gt4py.git
# branch=cxx_cuda_backends

[Fuse Numpy Loops]
# Draft PR
url=https://github.com/eddie-c-davis/gt4py.git
branch=numpy-fuse-kloops

[CuPy Allocator Restore]
# In GDP3
url=https://github.com/eddie-c-davis/gt4py.git
branch=cupy-allocator-restore

# [Fix Reads With Offset Check]
# # Proposed fix
# url=https://github.com/jdahm/gt4py.git
# branch=fix-reads-with-offset-check

[Fix Lower Dimensional Storages Test]
url=https://github.com/jdahm/gt4py.git
branch=gt-ms-sync-workaround

[Workaround GT Parallel MS Sync]
url=https://github.com/jdahm/gt4py.git
branch=workaround-parallel-ms-sync

[Normalized Origin Stencils]
url=https://github.com/twicki/gt4py.git
branch=feature/normalizedOrigin

[Enable Compile Time Assertions]
url=https://github.com/jdahm/gt4py.git
branch=compile-time-asserts-func

