[Base]
url=https://github.com/GridTools/gt4py.git
hash=48cbaa296430b4a75bb1570c6c03fa09d5009621
final=develop
upstream=git@github.com:VulcanClimateModeling/gt4py.git

[Horizontal Regions]
# In review
url=https://github.com/twicki/gt4py.git
branch=working_regions

[GridTools Stage Extents]
# Necessary hack for now, revisit removing this later
url=https://github.com/eddie-c-davis/gt4py.git`
branch=gt_stage_extents

[Temp Storage Reduce]
# In review
url=https://github.com/eddie-c-davis/gt4py.git
branch=temp-storage-reduce

[Enable Compile Time Assertions]
# In review
url=https://github.com/jdahm/gt4py.git
branch=compile-time-asserts-func

[Auto Sync Storage]
# Draft
url=https://github.com/eddie-c-davis/gt4py.git
branch=auto-sync-storage
